PORT=3000
MONGODB_URI=mongodb://localhost:27017/Reimbursement
JWT_SECRET=qiaolujie123
JWT_EXPIRES_IN=7d
QINIU_ACCESS_KEY=F3hORfARDq6Ucz2-k0wIjt1_Mx1QXo5BESCiiExs
QINIU_SECRET_KEY=JEeCy-LtFvDmbFh0pALADiSKPSb0ehdT3yOP-SsZ
QINIU_BUCKET=yfai
QINIU_DOMAIN=https://cdn.fulai.tech
GRPC_HOST=127.0.0.1
GRPC_PORT=50051
FEISHU_APP_ID=cli_a95a39f518b89bb3
FEISHU_APP_SECRET=zZQFrTgzYgMmKOLloqY4GeVkbihdCcbu
FEISHU_REDIRECT_URI=http://localhost:3000/api/users/auth/feishu
FRONTEND_URL=http://localhost:5173

